@model ShopOnline.ViewModel.Catalog.Products.ProductViewModel

@{
    ViewData["Title"] = "Thông tin quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Thông tin quyền</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/role/index">Danh sách sản phẩm</a></li>
        <li class="breadcrumb-item active">Thông tin sản phẩm</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            @*<i class="fas fa-table me-1"></i>*@
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách </a>
        </div>
        <div class="card-body">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ProductId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ProductId)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Details)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Details)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.SeoDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SeoDescription)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.SeoTitle)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SeoTitle)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ViewCount)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ViewCount)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.SeoAlias)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SeoAlias)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.OriginalPrice)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.OriginalPrice)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Stock)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ThumbnailImage)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ThumbnailImage)
                    </dd>
                </dl>
            </div>
            <div>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductId }) |
                <a asp-action="Index">Quay về danh sách</a>
            </div>
        </div>
    </div>
</div>